
body 
{
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:Courier New;
	height:14px;
}

p
{
	margin:0px;
	padding:0px;
}

.message
{
	font-family:Courier New;
	font-size:12px;
	width:100%;
	text-align:left;
}

.messageTitle
{
	color:Blue;
	padding:6px;
	height:20px;
	margin:1px;
	cursor:default;
}

.messageContent
{
	font-size:14px;
	color:Black;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:12px;
}

.messageTitle .sender
{
	margin-right:8px;
}

.messageTitle .time
{
	margin-right:8px;
}